
body {
    background: #964345;
    font-family: Arial;
}
h1 {
    color: red;
}
/* MWWjdvJJ8E9UVuEO5fZ5MSdFW5nzEXvcMEQCtHk3tg88CyvgjArLLlTFhiVA2w23Cr43JHgGFhzSHG8misxNoxwFL9fiJRTGF3ZhCq4nNlCzmY9PhSupivJImDSgv5XWJi7o3mHQUl8BmIBXouRKZaWBGiAk5AyMAIteU6LBmohxGL2bgAcpdIECUIchGliPA0ddQEgp */
